@import url(https://fonts.googleapis.com/css?family=Dosis:700);
body {
  font-family: "Dosis", Helvetica, Arial, sans-serif; 
  background: 
      linear-gradient(
        rgba(255, 255, 255, 0.95), 
        rgba(114, 114, 114, 0.46)),
         
      url(../img/gesaffelstein.jpg);
  color: #34495e;
  text-shadow: white 1px 1px 1px;
  height: 100vh;
}



.value_radius, .value_height, .value_lenght {
  border-bottom: 4px dashed #0d1419;
  text-align: center;
  font-weight: bold;
  font-size: 5em;
  width: 300px; 
  height: 100px;
  line-height: 60px;
  margin: 40px auto;
  letter-spacing: -.07em;
  text-shadow: white 2px 2px 2px;
}

input[type="range"] {
  display: block;
  -webkit-appearance: none;
  background-color: #656565;
  width: 300px;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #e74c3c;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  cursor: pointer;
  transition: .3s ease-in-out;
}​

  input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #e74c3c;
  }
  input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
  }

.indigo-text{
    font-size: 3em;
    font-family: impact;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    letter-spacing: 4px;
}



.under_section{
    margin-top: 15px;
    font-size: 1.5em;
}

button{
    margin-top: 30px;
    background-color: black;
    width: 300px;
    color: white;
}

button:hover{
-webkit-box-shadow: -1px 2px 28px 2px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 28px 2px rgba(0,0,0,0.75);
box-shadow: -1px 2px 28px 2px rgba(0,0,0,0.75);
}

#hello{
    position: relative;
    margin-top: 3vh;
    font-size: 2em;
}
